.jumbotron{
    background-color: #E29B17;
    color: black;
    margin-top: 50px;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 20px;
}

.btn-reserva{
    width: 100%;
}

.card{
    max-width: 300px;
}

footer{
    padding: 10px 40px 0 40px;
    background-color: #E29B17;
    margin-bottom: 0;
    margin-top: 10px;
}

.icon-element{
    padding-right: 10px;
}
