@yellow: #e29b17;
@cyan: #17a2b8;

.margins(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron{
  background-color: @yellow;
  color: black;
  .margins(50px);
}

.card-hotel{
  flex: 1 200px;
  margin-top: 20px;
}

.btn-reserva{
  width: 100%;
}

.card{
  max-width: 300px;
}

footer{
  padding: 10px 40px 0 40px;
  background-color: @yellow;
  margin-bottom: 0;
  margin-top: 10px;
}

.icon-element{
  padding-right: 10px;
}
